<html>
    <head>
        <meta property=\"og:image\" itemprop=\"image\" content=\"${image}\"/>
        <meta property=\"og:site_name\" content=\"${site_name}\" />
        <meta property=\"og:title\" content=\"${title}\"/>
        <meta property=\"og:description\" content=\"${description}\"/>
        <meta property=\"og:url\" content=\"${url}\"/>
        <meta property=\"og:type\" content=\"website\" />
        <script>
            window.location.replace(\"${destination}\");
        </script>
    </head>

<body>
</body>
</html>
